myAPIKey = ""
googleAPIKey = ""
YOUTUBE_API_KEY = ""
mongodb_url = "mongodb+srv://[username:password@]host1[:port1][,host2[:port2],...]/databaseName[?options]"
PUQ_DATA_DIR = "artifacts/data"
PUQ_CHUNKS_DIR = "artifacts/chunks"
PUQ_VECTOR_DB_DIR = "artifacts/database_semantic"
PUQ_VIDEOS_DIR = "artifacts/videos"
PUQ_DATA_EXTRACTION_DIR = "artifacts/data_extraction"
OPENAI_MODEL = "gpt-5-mini"
OPENAI_SUPERVISOR_MODEL = "gpt-5-mini"
OPENAI_MAX_TOKENS = "2048"
OPENAI_SUPERVISOR_MAX_TOKENS = "512"
